body {
    background-color: rgb(80, 140, 196);
}
canvas {
    display: block;
    border: solid;
    background: url(../_src/fundo.jpg);
    margin: auto;
}
a {
    position: absolute;
    text-decoration: none;
    left: 15px;
    color: white;
    font-size: 20pt;
    border: solid 2px black;
    background-color: black;
}
h1, h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 27pt;
}
#restart {
    position: absolute;
    background-color: black;
    color: white;
    top: 50%;
    font-size:30pt;
    left:50%;
    cursor: pointer;
    transform: translateX(-50%);
    display: none;  
}