/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
    background-color: #3d3d3d;
}
main {
    height: 100vh;
}
/******Header******/
.header {
    width: 100%;
    height: 18vh;
    min-height: 80px;
    display: block;
    position: absolute;
    background-color: #e4e4e4;
    top: 0;
    left: 0;
    padding: 2% 4%;
    z-index: 11;
}
.logo {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    background: url(../_src/logo_mobile.png) center center/60px no-repeat;
    width: 60px;
    height: 60px;
    vertical-align: top;
    border-radius: 10px;
}
/****Header-MENU****/
.menu {
    width: 100%;
    height: 85vh;
    display: block;
    position: fixed;
    left: 0;
    top: 18vh;
    z-index: 10;
    overflow: hidden;
    max-height: 0;
}
.button_menu { 
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(rgb(0, 162, 232), rgb(237, 28, 36));
    width: 60px;
    height: 60px;    
    vertical-align: top;
    border-radius: 100%;
    right: 20px;
    cursor: pointer;
}
.menu ul {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    background: linear-gradient(#e4e4e4, rgba(82, 198, 247, 0.904), rgba(228, 83, 88, 0.863));/* #e4e4e4;*/
    top: 0;
    left: 0;
}
.menu li {
    display: block;
    padding: 4% 2%;
}
.menu li a {
    color: rgb(48, 48, 48);
    font-size: 20pt;
    transition: linear 200ms;
    padding: 15px;
    border-radius: 5px;
}
.menu li a:hover {
    color: rgb(237, 28, 36);
    background-color: rgb(0, 162, 232);
}
.show {
    max-height: 85vh;
}
/***Footer***/
.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 1000px;
    height: 30px;
}
.footer a{
    color: white;
}
/*****Banner*****/
.banner {
    background: url(../_src/Fundo3.jpg) center center no-repeat fixed;
    background-size: cover;
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    top: 18vh;
    padding: 3% 4%;
}
.banner h2, h3 {
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
    text-align: center;
    margin-top: 30px;
}
.banner h2 {
    font-weight: 600;
}

/*Imagem do Dia*/
div.img_day {
    display: inline-block;
    position: absolute;
    background-color: rgb(129, 129, 129);
    top: 50%;
    height: 320px;
    width: 100%;
    padding: 0;
    text-align: center;
    border: solid 3px rgb(173, 173, 173);
}
div.img_day h2 {
    font-weight: 600;
    font-size: 22pt;
    margin: 10px;
}
iframe {
    position: absolute;

    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}