/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background-color: #000000;
}
main {
    height: 100vh;
}

/******Header******/
.header {

    width: 100%;
    height: 100vh;
    background: url(../_src/muro.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.logo {
    position: fixed;
    width: 240px;
    height: 70px;
    background: url(../_src/logo_desktop.png) center center no-repeat;
    background-size: cover;
    float: left;
    margin: 0px 18px;
    font-size: 0;
    z-index: 10;
}
/****Header-MENU****/
.menu {
    position: fixed;
    width: 100%;
    top: 60px;
}
.button_menu { 
    position: fixed;
    width: 100%;
    height: 60px; 
    color: white;
    background: black;
    padding: 25px 25px;
    text-align: right;
    cursor: pointer;
    display: none;

}
.menu ul {
    background: linear-gradient(#000000, rgba(39, 39, 39, 0.938));/* #e4e4e4;*/
    text-align: center;
    overflow: hidden;
    max-height: 20em;
    transition: 1s;
}

.menu ul li {
    display: inline-block;
    padding: 40px 10px;
}
.menu ul li a {
    color: rgb(216, 211, 211);
    font-size: 15pt;
    transition: linear 200ms;
    padding: 10px 5px;
    border-radius: 5px;
}
.menu li a:hover {
    background-color: rgb(182, 189, 192);
    color: rgb(0, 0, 0);
}
/***Footer***/
.footer {
    position: absolute;
    width: 100%;
    height: 30px;
    top: 1000px;
    text-align: center;
}
.footer a{
    color: white;
}
/*****Content*****/
.content {
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
}

/*Imagem do Dia*/
div.img_day {
    display: inline-block;
    width: 100%;
    background-color: rgb(129, 129, 129);
    top: 50%;
    padding: 0;
    text-align: center;
    border: solid 3px rgb(173, 173, 173);
}
div.img_day h2 {
    font-weight: 600;
    font-size: 22pt;
    margin: 10px;
}
iframe {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 580px) {
    .logo {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 0;
        background: url(../_src/logo_mobile.png) center center no-repeat;
    }
    .menu ul {
        max-height: 0;
    }
    .menu.show ul {
        max-height: 20em;
    }
    .menu ul li {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .button_menu {
        display: block;
    }
}